In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("loan.csv")

data_dict = pd.read_excel("Data_Dictionary.xlsx")

/Users/sbhargav/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [38]:
df.shape

(39717, 111)

In [39]:
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [40]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   member_id                       int64
 2   loan_amnt                       int64
 3   funded_amnt                     int64
 4   funded_amnt_inv                 float64
 5   term                            object
 6   int_rate                        object
 7   installment                     float64
 8   grade                           object
 9   sub_grade                       object
 10  emp_title                       object
 11  emp_length                      object
 12  home_ownership                  object
 13  annual_inc                      float64
 14  verification_status             object
 15  issue_d                         object
 16  loan_status                     object
 17  pymnt_plan                      object
 18  url                             object
 19  desc                            object
 20  purpose                         object
 21  title                           object
 22  zip_code                        object
 23  addr_state                      object
 24  dti                             float64
 25  delinq_2yrs                     int64
 26  earliest_cr_line                object
 27  inq_last_6mths                  int64
 28  mths_since_last_delinq          float64
 29  mths_since_last_record          float64
 30  open_acc                        int64
 31  pub_rec                         int64
 32  revol_bal                       int64
 33  revol_util                      object
 34  total_acc                       int64
 35  initial_list_status             object
 36  out_prncp                       float64
 37  out_prncp_inv                   float64
 38  total_pymnt                     float64
 39  total_pymnt_inv                 float64
 40  total_rec_prncp                 float64
 41  total_rec_int                   float64
 42  total_rec_late_fee              float64
 43  recoveries                      float64
 44  collection_recovery_fee         float64
 45  last_pymnt_d                    object
 46  last_pymnt_amnt                 float64
 47  next_pymnt_d                    object
 48  last_credit_pull_d              object
 49  collections_12_mths_ex_med      float64
 50  mths_since_last_major_derog     float64
 51  policy_code                     int64
 52  application_type                object
 53  annual_inc_joint                float64
 54  dti_joint                       float64
 55  verification_status_joint       float64
 56  acc_now_delinq                  int64
 57  tot_coll_amt                    float64
 58  tot_cur_bal                     float64
 59  open_acc_6m                     float64
 60  open_il_6m                      float64
 61  open_il_12m                     float64
 62  open_il_24m                     float64
 63  mths_since_rcnt_il              float64
 64  total_bal_il                    float64
 65  il_util                         float64
 66  open_rv_12m                     float64
 67  open_rv_24m                     float64
 68  max_bal_bc                      float64
 69  all_util                        float64
 70  total_rev_hi_lim                float64
 71  inq_fi                          float64
 72  total_cu_tl                     float64
 73  inq_last_12m                    float64
 74  acc_open_past_24mths            float64
 75  avg_cur_bal                     float64
 76  bc_open_to_buy                  float64
 77  bc_util                         float64
 78  chargeoff_within_12_mths        float64
 79  delinq_amnt                     int64
 80  mo_sin_old_il_acct              float64
 81  mo_sin_old_rev_tl_op            float64
 82  mo_sin_rcnt_rev_tl_op           float64
 83  mo_sin_rcnt_tl                  float64
 84  mort_acc                        float64
 85  mths_since_recent_bc            float64
 86  mths_since_recent_bc_dlq        float64
 87  mths_since_recent_inq           float64
 88  mths_since_recent_revol_delinq  float64
 89  num_accts_ever_120_pd           float64
 90  num_actv_bc_tl                  float64
 91  num_actv_rev_tl                 float64
 92  num_bc_sats                     float64
 93  num_bc_tl                       float64
 94  num_il_tl                       float64
 95  num_op_rev_tl                   float64
 96  num_rev_accts                   float64
 97  num_rev_tl_bal_gt_0             float64
 98  num_sats                        float64
 99  num_tl_120dpd_2m                float64
 100 num_tl_30dpd                    float64
 101 num_tl_90g_dpd_24m              float64
 102 num_tl_op_past_12m              float64
 103 pct_tl_nvr_dlq                  float64
 104 percent_bc_gt_75                float64
 105 pub_rec_bankruptcies            float64
 106 tax_liens                       float64
 107 tot_hi_cred_lim                 float64
 108 total_bal_ex_mort               float64
 109 total_bc_limit                  float64
 110 total_il_high_credit_limit      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [41]:
columns = data_dict.LoanStatNew
columns = columns.dropna()

null_columns = []

for col in columns:
    try:
        if df[col].isnull().all() == True:
            null_columns.append(col)
    except :
        pass

print(len(null_columns))
print(null_columns)

52
['acc_open_past_24mths', 'all_util', 'annual_inc_joint', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'dti_joint', 'il_util', 'inq_fi', 'inq_last_12m', 'max_bal_bc', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_last_major_derog', 'mths_since_rcnt_il', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc_6m', 'open_il_12m', 'open_il_24m', 'open_il_6m', 'open_rv_12m', 'open_rv_24m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bal_il', 'total_bc_limit', 'total_cu_tl', 'total_il_high_credit_limit']

In [42]:
# Drop the null / nan columns

df = df.drop(null_columns, axis=1)

In [43]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  verification_status_joint   0 non-null      float64
 53  acc_now_delinq              39717 non-null  int64
 54  total_rev_hi_lim            0 non-null      float64
 55  chargeoff_within_12_mths    39661 non-null  float64
 56  delinq_amnt                 39717 non-null  int64
 57  pub_rec_bankruptcies        39020 non-null  float64
 58  tax_liens                   39678 non-null  float64
dtypes: float64(22), int64(13), object(24)
memory usage: 17.9+ MB

In [44]:
df.shape

(39717, 59)

In [45]:
same_value_cols = df.columns[df.nunique() == 1]
print(same_value_cols)

Index(['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens'],
      dtype='object')

In [46]:
# Drop the null / nan columns

df = df.drop(same_value_cols, axis=1)

In [47]:
df.shape

(39717, 50)

In [48]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'verification_status_joint',
       'total_rev_hi_lim', 'pub_rec_bankruptcies'],
      dtype='object')

In [49]:
for col in df.columns:
    if df[col].isnull().mean()*100 >= 95:
        print("Droping ",col)
        df.drop(col,axis=1,inplace=True)
df.shape

Droping  next_pymnt_d
Droping  verification_status_joint
Droping  total_rev_hi_lim

(39717, 47)

In [63]:
null_rows = df.isnull().sum()


sorted_columns = null_rows.sort_values(ascending=False)

print(sorted_columns[:15])

mths_since_last_record    36931
mths_since_last_delinq    25682
desc                      12940
emp_title                  2459
emp_length                 1075
pub_rec_bankruptcies        697
last_pymnt_d                 71
revol_util                   50
title                        11
last_credit_pull_d            2
funded_amnt_inv               0
verification_status           0
member_id                     0
url                           0
loan_status                   0
dtype: int64